---
title: Globes
date: 2023-02-28
ogDescription: "Quick sketch that creates a grid if increasingly complex circles"
tags:
- generative 
libraries:
- p5.min.js
- tweakpane.min.js
- p5-custom-library.js
published: true
intro: Click the canvas to generate a new image. This piece was inspired by <a href="https://www.reddit.com/r/generative/comments/wr07ny/watch_me_develop_a_new_piece_from_start_to_finish/" target="_blank">this post on Reddit.</a>
---