---
title: Starter Project
date: 2022-12-31
ogDescription: "OG description here"
tags:
- generative 
libraries:
- p5.min.js
- p5.sound.min.js
- p5.collide2d.min.js
- tweakpane.min.js
- p5-custom-library.js
---