<div class="component component--standard-wide">

  {% if component.item.section_title %}
    <h2>{{ component.item.section_title }}</h2>
  {% endif %}

  {% if component.item.description %}
    <p>{{ component.item.description }}</p>
  {% endif %}

  {% if component.item.pages %}
    <ul>
      {% for page in component.item.pages %}
        {% set data = pages|find(page.item) %}
        <li>
          <a href="/{{ data.slug }}">{{ data.page_title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>