---
title: Album Animation II
date: 2022-08-26
tags:
- generative 
libraries:
- p5.min.js
- p5.sound.min.js
- tweakpane.min.js
- p5-custom-library.js
published: true
intro: This simple animation was inspired by the album <a href="https://open.spotify.com/album/2bqWW4DxQFU03USx788o9d"><i>Supernormal..and..Pilot</i></a> by <a href="https://modernchemistry.bandcamp.com/">Modern Chemistry</a>. The song used is <i>Supernormal</i>. Press play to start playing the audio visualizer.
---