---
layout: default
siteTitle: "Tristan Hampton"
title: "Tools"
permalink: "/tools/"
meta_description: "Sometimes I make things to make my life easier, and post them here."
---
<section class="banner banner--default">
  <h1>{{title}}</h1>
  <p>Sometimes I have to make something to make my life easier, or just becuase I think it's neat. They're listed here!</p>
</section>

<section class="component component--standard-wide">
  <ul class="link-list">
    {% for tool in collections.tool | reverse %}
      <li>
        <a href="{{ tool.url }}">{{ tool.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>