---
title: "Notes"

og_title: "Notes"
---

<div class="banner banner__default">
  <h1>Notes</h1>
</div>

<div class="component--standard-narrow component--writing-landing-links">
  <a href="/notes/short-form">
    <p class="h2">Short Form</p>
    <p>Like social media, but not</p>
  </a>

  <a href="/notes/long-form">
    <p class="h2">Long Form</p>
    <p>Text I've put a little thought into</p>
  </a>
  <img src="/img/sketches/mindless.png" alt="">
  <img src="/img/sketches/mindless-2.png" alt="">
</div>