---
title: "Kitchen Sink"
meta_description: "Page for testing styles of components"
og_title: ""
---
<div class="banner banner__default">
  <h1>Kitchen Sink</h1>
  <p>Page for testing styles of components</p>
</div>

<section class="component component--standard-wide">
  <h1>Heading 1</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores eveniet laborum blanditiis fuga aliquam soluta vitae dignissimos qui repellendus officia explicabo minima voluptates nobis, labore ea! Quidem explicabo fugiat impedit.</p>

  <h2>Heading 2</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel alias ut officia dolorum consectetur dignissimos ipsum, consequuntur quos pariatur, rerum nesciunt, quidem saepe facilis adipisci unde ab! Neque, minima suscipit?</p>

  <h3>Heading 3</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi maiores quaerat deserunt corporis vitae totam et. Provident aperiam minus error recusandae ipsum quibusdam, odio nulla eius ipsa molestiae voluptates pariatur.</p>

  <h4>Heading 4</h4>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum fugiat sunt dolores ullam. Voluptatem quidem at deleniti enim eos cupiditate earum voluptate placeat aliquid aspernatur esse modi optio, suscipit recusandae facere, ab, porro iure ipsa consequuntur officiis. Aperiam, minus a?</p>
  
  <h5>Heading 5</h5>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci quisquam sequi, doloribus iure blanditiis, molestiae eligendi repudiandae harum sint similique non dolore esse. Dolorum, voluptatibus! Perferendis totam minus ullam cumque explicabo recusandae, cum, quaerat enim consequuntur maiores perspiciatis facere nesciunt.</p>

  <h6>Heading 6</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit consequatur velit voluptatem a exercitationem nobis iure voluptas odit est, eius facere repellat repellendus enim doloremque veniam soluta, tempora nostrum ipsam?</p>  

  <p class="font-large">Large font. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo ipsum non voluptatibus excepturi molestiae, repellat dignissimos aspernatur ea nisi eos!</p>

  <p class="font-small">Small font. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.</p>

  <p class="display-large">Display Large</p>

  <p class="display-small">Display Small</p>
</section>

<div class="component component--palette" aria-hidden="true">
  <h2>Palette</h2>

  <div class="flex-wrapper">
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>

    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>

    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>

    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
  </div>
</div>