<header class="site__header">
  <nav class="site__navigation">
    <ul>
      <li><a href="/generative/">Creative Coding</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/tools/">Tools</a></li>
      <li><a href="/me/">Me</a></li>
      <li><a href="/bookmarks/">Bookmarks</a></li>
    </ul>
  </nav>
</header>