<header class="site__header">
  {% if backLink %}
    <a href="{{ backLink }}" class="back-link">
      {% include 'icons/arrow-left.njk' %}
    </a>
  {% endif %}

  {% if layout == 'tools' %}
    <a href="/tools" class="back-link">
      {% include 'icons/arrow-left.njk' %}
    </a>
  {% endif %}

  <a href="/" class="home-link">
    {% include 'icons/home.njk' %}
  </a>
  <button class="menu-toggle js-menu-toggle" aria-label="Open navigation">
    {% include 'icons/menu.njk' %}
    {% include 'icons/close.njk' %}
  </button>
</header>
<nav class="site__navigation">
  <ul>
    <li><a href="/generative/">Creative Coding</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/tools/">Tools</a></li>
    <li><a href="/me/">Me</a></li>
    <li><a href="/bookmarks/">Bookmarks</a></li>
  </ul>
</nav>