<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{site.title}}{% if title %} - {{ title }}{% endif %}</title>

	{% if meta_description %}
		<meta name="description" content="{{ meta_description }}">
	{% endif %}

	{% if og_title or title %}
		<meta property="og:title" content="{{ og_title if og_title else title }}">
	{% endif %}

	{% if og_image or site.og_image_default %}
		<meta property="og:image" content="{{ og_image if og_image else site.og_image_default }}">
	{% endif %}

	{% if twitter_card or site.twitter_card %}
		<meta name="twitter:card" content="{{ twitter_card if twitter_card else site.twitter_card }}">
	{% endif %}

  {% if site.GTM_ID %}
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-EY8CX5LR82"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', {{ GTM_ID }});
	</script>
  {% endif %}

	<link rel="stylesheet" href="/css/main.css">

	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
	<link rel="manifest" href="/favicons/site.webmanifest">

	{% if site.theme_colour %}	
		<meta name="theme-color" content="{{ site.theme_colour }}" />
	{% endif %}

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body class="site layout layout--{{ layout|slugify }}">
  {% if site.GTM_ID %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TWS3W3Q"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
