<section class="component component--standard-wide content--bookmarks">
  <h2 class="h4">Latest Finds</h2>
  <p>These are links to things I've come accross online that I think are interesting, or deserving of remembering to look at later.</p>
  <ul class="text-list">
    {% for bookmark in collections.bookmark | reverse %}
      {% if loop.index0 < 20 %}
        <li class="bookmark-item">
          <a class="h5" href="{{bookmark.data.link}}">{{ bookmark.data.title }}
            <span class="sr-only">(external link)</span></a>
          {% if bookmark.data.description %}
            {{ bookmark.data.description|markdown|safe }}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>