---
title: "Home"
meta_description: "The home page of this 11ty site starter"
og_title: "11ty Starter Home Page"
layout: home
---

<div class="component--standard-wide">
  <p>This website is hard for me to define. It has elements of a blog, digital garden, or second brain. I've read about lots of these topics, but I don't think this fits into any of them perfectly. Ultimately it's a place for me to share things I like and find interesting. To try new things and see how they turn out.</p>
  <p>I moved my "official" portfolio to <a href="https://portfolio.tristanhampton.ca">portfolio.tristanhampton.ca</a> so that this could be what I like to call my Playground.</p>
</div>
