---
layout: default
siteTitle: "Tristan Hampton"
title: "Creative Coding"
backLink: false
eleventyNavigation:
  key: Creative Coding
  parent: ''
  order: 2
permalink: "/generative/"
meta_description: "I enjoy making art using code. I use p5.js to create images, along with different settings that can be used in real time to customize the image."
---
<section class="banner banner--default">
	<h1>Creative Coding</h1>
	<p>All of these projects are made using <a href="https://p5js.org" target="_blank">p5.js</a>, a Javascript processing library for making art and such using the HTML Canvas</p>
</section>

<section class="component component--standard-wide">
	<h2>Projects</h2>
	<ul class="flex-wrapper">
		{% for project in collections.generative | reverse %}
			{% if project.data.published %}
				<li class="generative-item">
					<a href="{{ project.url }}" title="{{ project.data.title }}" class="card size--square">
						<h3>{{ project.data.title }}</h3>
						{% set imgPath = project.page.filePathStem + '.png' %}
						<picture>
							<source srcset="{% getUrl imgPath | resize({ height: 300, width: 300 }) | avif %}" media="(max-width: 768px)">
							<source srcset="{% getUrl imgPath | resize({ height: 500, width: 500 }) | avif %}" media="(min-width: 769px)">
							<img src="{% getUrl imgPath | resize({ height: 500, width: 500 }) | avif %}" alt="screenshot of the {{ project.data.title }} art piece">
						</picture>
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</section>

{% if local %}
	<section class="component component--standard-wide">
		<h2>Studies</h2>

		<ul class="flex-wrapper">
			{% for project in collections.generative | reverse %}
				{% if 'study' in project.data.tags %}
					<li class="generative-item">
						<a href="{{ project.url }}" title="{{ project.data.title }}" class="card size--square">
							<h3>{{ project.data.title }}</h3>
							{% set imgPath = project.page.filePathStem + '.png' %}
							<picture>
								<source srcset="{% getUrl imgPath | resize({ height: 300, width: 300 }) | avif %}" media="(max-width: 768px)">
								<source srcset="{% getUrl imgPath | resize({ height: 500, width: 500 }) | avif %}" media="(min-width: 769px)">
								<img src="{% getUrl imgPath | resize({ height: 500, width: 500 }) | avif %}" alt="screenshot of the {{ project.data.title }} art piece">
							</picture>
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</section>
{% endif %}