---
title: "Short Form Notes"
og_title: "Short Form Notes"
---

<div class="banner banner--default">
  <h1>{{title}}</h1>
  <p>The following are posts that you might normally find on social media, but they aren't on social media.</p>
</div>