---
title: Flow Fields I
date: 2023-06-20
ogDescription: ""
tags:
- generative 
libraries:
- p5.min.js
- tweakpane.min.js
- p5-custom-library.js
published: true
intro: "Inspired by <a href='https://www.schmidtynotes.com/blog/p5/2022-03-05-random-vectors/'>Mike Schmity</a>, this piece subdivides the canvas into a grid and draws a flow field in each cell. As the cells progress down the x and y axis, the intensity of the curves increases. </br></br> This piece is also fairly responsive, and will attempt to make a smaller version on mobile."
---