.banner {
  padding: var(--padding-400) var(--page-margin-200);
  background-color: var(--surface-invert);
  // border-bottom-right-radius: 50% 80%;
  position: relative;

  background-image: url(../img/backgrounds/topography.svg);
}