.component--shelf {
  padding: 0 var(--page-margin-200);

  h2 {
    grid-column: 1 / -1;

    &:not(:first-child) {
      margin-top: var(--padding-400);
    }
  }

  .shelf__item {
    margin: 0;

    img {
      width: 100%;
      aspect-ratio: 2/3;
    }
  }

  &.shelf--books .shelf__item img {
    border-radius: 0 1rem 1rem 0;
  }

  @media screen and (max-width: 500px) {
    .bookshelf__item {
      flex-grow: 1;
      max-width: calc(50% - var(--padding-200));
    }
  }
}