.card {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: 0.2s ease-in;
  border: 2px solid black;
  box-shadow: -8px 13px 0px 3px black;

  picture {
    order: -1;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  h2,
  h3,
  h4,
  h5,
  .h2,
  .h3,
  .h4,
  .h5 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--padding-200) var(--padding-200);
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--green-900);
    opacity: 0;
    transition: 0.2s ease-in;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &:is(a):hover,
  &:is(a):focus {
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.1);
    box-shadow: -3px 9px 0px 3px black;

    h2,
    h3,
    h4,
    h5,
    .h2,
    .h3,
    .h4,
    .h5 {
      opacity: 1;
    }
  }

  &.size--square {
    aspect-ratio: 1 / 1;
  }
}

.card.card--text {
  padding: var(--padding-200);

  h2,
  h3,
  h4,
  h5,
  .h2,
  .h3,
  .h4,
  .h5 {
    position: static;
    opacity: 1;
    background-color: transparent;
    padding: 0;
    color: inherit;
  }

  *+p {
    margin-top: var(--padding-100);
  }
}