---
title: Noisy Lines
date: 2022-05-28
tags:
- generative 
libraries:
- p5.min.js
- tweakpane.min.js
- p5-custom-library.js
intro: Click or tap on the canvas to leave an invisible point. Each of these points will randomly draw lines to each other.
---