---
layout: default
siteTitle: "Tristan Hampton"
title: "Creative"
meta_description: 'Personal things relating to Tristan Hampton'
---

<section class="banner banner--default">
  <h1>Creative</h1>
  <p>A collection of creative endeavors that I've enjoyed.</p>
</section>

<section class="component component--standard-wide">
  <p><a href="/creative/generative/">Generative Art</a></p>
  <p><a href="/creative/sketchbook/">Sketchbook</a></p>
</section>