---
layout: default
siteTitle: "Tristan Hampton"
title: "Creative"
meta_description: 'Personal things relating to Tristan Hampton'
---

<section class="banner banner--default">
  <h1>Creative</h1>
  <p>A collection of creative endeavors that I've enjoyed.</p>
</section>

<section class="component component--standard-wide">
  <ul class="blog-list">
    <li>
      <h2 class="h4"><a href="/creative/generative/">Generative Art</a></h2>
      <p><small>A collection of "sketches" I've made with p5.js. Not to be confused with AI art. This is all JavaScript!</small></p>
    </li>

    <li>
      <h2 class="h4"><a href="/creative/sketchbook/">Sketchbook</a></h2>
      <p><small>My sketchbook that I filled between 2018 and 2019</small></p>
    </li>
	</ul>
</section>