.layout--default {
  
  // Mobile
  @media screen and (max-width: 911px) {
    display: block;
  }
  
  // Desktop
  @media screen and (min-width: 912px) {
    --page-margin-200: var(--col);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  
    .column--left,
    .column--right {
      height: 100vh;
      max-height: 100vh;
      overflow: auto;
    }
  
    .column--left {
      flex: 1 1 calc(100% - 40rem);
      padding-bottom: var(--padding-200);
    }
  
    .column--right {
      flex: 1 1 clamp(20rem, 3vw, 40rem);
      grid-row: 1 / 1000;
      grid-column: 2 / 3;
      margin: 0;
      border-left: 0.1rem dashed black;
    
      p {
        font-size: 0.8em;
      }
    }
  }
}