{# ---
siteTitle: "Tristan Hampton"
title: "Bookmarks"
meta_description: "Curated list of bookmarks to things that I either found interesting and wanted to save, or that looked interesting and I wanted to read later."
pagination:
  data: d_bookmarks
  size: 10
  reverse: true
permalink: bookmarks/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html
---

<div class="banner banner--default">
	<h1>{{title}}</h1>
	<p>This is my full collection of bookmarks. These are links to resources, articles, inspirations, and other misc. content that I've found online and want to keep track of.</p>
</div>

<div class="component component--standard-wide">
	<ul class="bookmark-list">
		{% for bookmark in pagination.items %}
			<li class="bookmark-item" data-type="{{ bookmark.type }}">
				<div class="tags">
					{% for type in bookmark.type %}
						<span class="tag">
							<span class="sr-only">Tag: </span>{{ type }}</span>
					{% endfor %}
				</div>
				<p class="bookmark-link h4">
					<a href="{{bookmark.link}}">{{ bookmark.title }}<span class="sr-only">(external link)</span></a>
				</p>
				{% if bookmark.description %}
					{{ bookmark.description|markdown|safe }}
				{% endif %}
			</li>
		{% endfor %}
	</ul>

</div>

<nav aria-labelledby="pagination-title" class="pagination component--standard-wide">
	<h2 id="pagination-title" class="sr-only">Pagination</h2>
	<ul>
		{%- for pageEntry in pagination.pages %}
			<li>
				<a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %} aria-label="go to page {{ loop.index }}">{{ loop.index }}</a>
			</li>
		{%- endfor %}
	</ul>
</nav>

{# <script>
	const bookmarks = document.querySelectorAll('.bookmark-item');
	const filter = document.querySelector('select#type');

	if (bookmarks && filter) {
		filter.addEventListener('change', function (e) {
			const targetType = e
				.target
				.value

				bookmarks
				.forEach(bookmark => {
					const bookmarkTypes = bookmark
						set
						.type
						.split(',');

					if (bookmarkTypes.includes(targetType)) {
						bookmark
							.classList
							.remove('hidden');
					} else {
						bookmark
							.classList
							.add('hidden');
					}
				});

			if (targetType == '') {
				bookmarks.forEach(bookmark => {
					bookmark
						.classList
						.remove('hidden');
				})
			}
		});
	}
</script> #}