---
layout: default
siteTitle: "Tristan Hampton"
title: "Blog"
meta_description: "The blog for Tristan Hampton."
---
<section class="banner banner--default">
	<h1>{{title}}</h1>
</section>

<section class="component component--standard-wide">
	<ul class="blog-list">
		{% for post in collections.blog|reverse %}
			<li>
				<h2><a href="{{ post.url }}">{{post.data.title}}</a></h2>
				<p><small>{{ post.data.summary }}</small></p>
			</li>
		{% endfor %}
	</ul>
</section>