{% include 'head.njk'%}
{% include 'header.njk' %}

<main class="page page--{{ title|slugify }} ">
	<section class="banner banner--default">
		<h1>{{ title }}</h1>
		<p>{{ summary }}</p>
	</section>
	
	<section class="component component--standard-wide">
		{{ content | safe }}
	</section>
</main>

{% include 'footer.njk' %}