{% include 'head.njk'%}

<div class="column--left window">
  {% include 'header.njk' %}
  <main class="page page--{{ title|slugify }} ">
		<div class="banner banner--default">
			<h1>{{ title }}</h1>
			<p>{{ summary }}</p>
		</div>
		<div class="component component--standard-wide">
			{{ content | safe }}
		</div>
  </main>
</div>

<div class="column--right window">
  {% include 'latest-bookmarks.njk' %}
  {% include 'footer.njk' %}
</div>