{% include 'head.njk'%}
{% include 'header.njk' %}

<main class="main--projects page page--{{ title|slugify }} ">
	<section class="banner banner--default">
		<h1>{{ title }}</h1>
		{% if intro %}
			<p>{{ intro | safe }}</p>
		{% endif %}
	</section>

	<div class="generative-canvas componet component--standard-wide" id="canvasContainer"></div>

	{# Any extra markup can go here from the project file #}
	{{ content | safe }}

	<h2 class="sr-only project-settings-title">{{ title }} Settings</h2>
	<div class="project__tweak-settings component--standard-wide"></div>
</main>


{% for library in libraries %}
	<script type="text/javascript" src="/js/plugins/{{ library }}"></script>
{% endfor %}
<script src="/js/generative/{{ js_file }}.js"></script>
<script src="/js/main.js"></script>

{% include 'footer.njk' %}