{% include 'head.njk'%}

<div class="column--left">
  <main class="page page--{{ title|slugify }} ">
    {% include 'header.njk' %}
    {{ content | safe }}
  </main>
  {% include 'footer.njk' %}
</div>

<div class="column--right">
  {% include 'latest-bookmarks.njk' %}
</div>