{% include 'head.njk'%}

<div class="column--left">
  {% include 'header.njk' %}
  <main class="page page--{{ title|slugify }} ">
    {{ content | safe }}
  </main>
</div>

<div class="column--right">
  {% include 'latest-bookmarks.njk' %}
  {% include 'footer.njk' %}
</div>