{% include 'head.njk'%}

<main class="page page--{{ title|slugify }} ">
  <div class="banner banner--home">
    <div id="canvasContainer"></div>
    <h1 class="sr-only">Home</h1>
    <p class="h1">TITLE PENDING</p>
    <p>This is my little corner of the internet. Don't take it too seriously, but I hope you like it.</p>
  </div>
  {% include 'navigation.njk' %}
  {{ content | safe }}
</main>

<script type="text/javascript" src="/js/plugins/p5.min.js"></script>
<script type="text/javascript" src="/js/plugins/p5-custom-library.js"></script>
<script type="text/javascript" src="/js/generative/home-banner.js"></script>
{% include 'footer.njk' %}