---
title: Grids and Angles
date: 2022-05-10
tags:
- generative 
libraries:
- p5.min.js
- tweakpane.min.js
- p5-custom-library.js
published: true
intro: To generate a new image, click or tap the image. Changing the image settings will also cause the image to update. This piece was inspired by <a href="https://www.instagram.com/p/CcsIjvmMoqR/" target="_blank">this Instagram post</a>, created by user <a href="https://www.instagram.com/aleksandrajovanic/">aleksandrajovanic</a>
---