---
title: Album Animation I
date: 2022-08-26
intro: 'This simple animation was inspired by the album <a href="https://open.spotify.com/album/2bqWW4DxQFU03USx788o9d"><i>Supernormal..and..Pilot</i></a> by <a href="https://modernchemistry.bandcamp.com/">Modern Chemistry</a>. The song used is <i>Supernormal</i>. Click the canvas to start playing the audio visualizer.'
tags:
- generative 
- study
libraries:
- p5.min.js
- tweakpane.min.js
- p5-custom-library.js
---
