---
title: Recursion
date: 2023-04-28
ogDescription: "Study of recursion"
published: true
tags:
- generative 
libraries:
- p5.min.js
- tweakpane.min.js
- p5-custom-library.js
intro: "This is just a simple study of a recursion function, as well as some simple trig."
---