---
layout: default
siteTitle: "Tristan Hampton"
title: "Me"
permalink: "/me/"
meta_description: 'Personal things relating to Tristan Hampton'
---

<div class="banner banner__default">
  <h1>Me</h1>
  <p>All of this data is updated hourly with a script on my home server. I've used <a href="https://rknight.me/">Robb Knight's</a> tool <a href="https://echo.rknight.me/">Echo</a>, which I've modified a tad in order to be able to create new posts as well as update existing content. My data sources are Steam, Letterboxd, Goodreads, and Strava.</p>
  <p>Let's not pay too close of attention to the Strava dates.</p>
</div>

{% if collections.steam.length > 0 %}
  <div class="component component--standard-wide">
    <h2>Playing...</h2>
    <ul class="grid-wrapper grid--large">
      {% for game in collections.steam | reverse %}
        {% if loop.index0 < 8 %}
          <li><img src="https://cdn.akamai.steamstatic.com/steam/apps/{{ game.data.id }}/library_600x900.jpg" alt="icon for {{ game.data.title }}"></li>
        {% endif %}
      {% endfor %}
    </ul>
    <p><a href="/me/gameshelf" class="btn-primary">View full game list</a></p>
  </div>
{% endif %}

{% if collections.letterboxd.length > 0 %}
  <div class="component component--standard-wide">
    <h2>Watching...</h2>
    <ul class="grid-wrapper grid--large">
      {% for movie in collections.letterboxd | reverse %}
        {% if loop.index0 < 8 %}
          <li>
            <img src="{{ movie.data.poster }}" alt="{{ movie.data.title }} Poster">
            <p class="sr-only">{{ movie.data.title }}</p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <p><a href="/me/movieshelf" class="btn-primary">View full watch list</a></p>
  </div>
{% endif %}

{% if collections.goodreads.length > 0 %}
  <div class="component--standard-wide component">
    <h2>Reading...</h2>
    <ul class="grid-wrapper grid--large">
      {% set count = 0 %}
      {% for book in collections.goodreads | reverse %}
        {% if count < 8 %}
          {% if book.data.category == 'read' and book.data.category != 'progress' %}
            <li>
              <img src="{{ book.data.cover }}" alt="{{ book.data.title }} cover">
              <p>
                <em>{{ book.data.title }}</em> </br>{{ book.data.author }}</p>
            </li>
            {% set count = count + 1 %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

    <p><a href="/me/bookshelf" class="btn-primary">View full bookshelf</a></p>
  </div>
{% endif %}

{% if collections.strava.length > 0 %}
  <div class="component component--standard-wide">
    <h2>Biking...</h2>
    <ul class="strava flex-wrapper">
      {% set i = 0 %}
      {% for ride in collections.strava | reverse %}
        {% if i < 9 and ride.data.type == 'ride' %}
          <li class="card card--text">
            <h3 class="h4">{{ ride.data.title }}</h3>
            <small><em>{{ ride.data.rideDate }}</em></small>
            <p>Distance: {{ ride.data.distance }}</p>
            <p>Time: {{ ride.data.time }}</p>
            <p>Speed: {{ ride.data.speed }}</p>
          </li>
          {% set i = i + 1 %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% if mtg.recordsByPrice.length %}
  <div class="component component--standard-wide">
    <h2>Collecting...</h2>
    <p>These are my top 10 Magic the Gathering cards out of {{ mtg.numCards }}, collected in the <a href="https://manabox.app/">Mana Box</a> app for IOS.</p>
    <table>
      <thead>
        <tr>
          <th>Card Name</th>
          <th>Set Name</th>
          <th>Value</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% set i = 0 %}
        {% for card in mtg.recordsByPrice %}
          {% if i < 10 %}
            <tr>
              <td>
                <a href="{{ card.link }}">{{ card.name }}</a>
              </td>
              <td>{{ card.set_name }}</td>
              <td>${{ card.purchase_price }}</td>
              <td>{{ card.quantity }}</td>
            </tr>
            {% set i = i + 1 %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
