---
title: Quadrants II
date: 2023-04-29
ogDescription: "OG description here"
published: true
tags:
- generative 
libraries:
- p5.min.js
- tweakpane.min.js
- p5-custom-library.js
intro: This drawing builds upon quadrants and grids and creates new render objects over each cell so that the drawings can hide its own overflow.
---