---
title: Faux Cursive
date: 2022-05-31
ogDescription: "Generative code that creates an image that looks like a fake cursive script"
tags:
- generative
libraries:
- p5.min.js
- tweakpane.min.js
- p5-custom-library.js
published: true
intro: This piece was inspired by <a href="https://www.instagram.com/p/CdvrErrLYyU/" target="_blank">this Instagram post</a>, created by user <a href="https://www.instagram.com/bustavo/">aleksandrajovanic</a>.
---