---
title: Branches
date: 2023-06-23
ogDescription: "OG description here"
tags:
- generative 
libraries:
- p5.min.js
- tweakpane.min.js
- p5-custom-library.js
intro: "This piece is <a href='https://www.instagram.com/p/CrBHkJhoqqQ/'>inspired by this post on instagram.</a> It's obviously very different, but gave me a direction I could work towards while playing with flow fields"
published: true
---