---
layout: default
siteTitle: "Tristan Hampton"
title: "Sketchbook"
meta_description: 'My sketchbook that I filled between 2018 and 2019'
backLink: /creative
---

<section class="component component--standard-wide">
  <h1>{{ title }}</h1>

  <p>I've always loved the <i>idea</i> of journals, but every time I pick one up it ends up with only a few pages filled, or used pages ripped out to start again with a "clean slate", which in turn doesn't go anywhere.</p>

  <p>This was the case with one that I had started in 2018 after becoming inspired by seeing Bullet Journals online. I loved the way that people were combining art and design with organizing notes and data.</p>

  <p>I had set up habit trackers, mood trackers, and set goals for the year. But I never finished a month of these trackers (although it looks like I was close!), and I never looked at my "Goals for the Year" page again. Looking back today in 2025 I did manage to complete two of those year goals: Read 50 books and start taking classes at NAIT. I did not end up taking guitar lessons or writing a novel length story. Looking back I think I was too concerned with making my journal pretty than actually making it useful. The trackers never really had a purpose outside of "that could be neat".</p>

  <p>Later in 2019 I decided to really push myself to fill this journal. This was slowly becoming more of a sketchbook at this point. At the time I was taking a design class at NAIT, which helped to keep me more accountable since I would fill it with schoolwork.</p>

  <p>By the end of the year I actually managed to do it. Every single page had something in it. Now this notebook is one of my favourite things.</p>

  <hr class="type--phone">

  <h2>The Book</h2>

  <p>Below is a PDF of a good chunk of my sketchbook. Some pages have been removed because they're more personal, but there are still over 100 pages available to view here.</p>

  <iframe loading="lazy" src="/files/sketchbook.pdf" frameborder="0" class="sketchbook"></iframe>

</section>

