---
title: Houses
date: 2024-12-23
ogDescription: "OG description here"
intro: "This is meant to be a recreation of this illustration <a href='https://www.instagram.com/p/C1rbctBPm04/'>on Instagram</a>."
tags:
- generative 
- study
libraries:
- p5.min.js
- tweakpane.min.js
- p5-custom-library.js
---