---
title: "Writing"

og_title: "Writing"
---

<div class="banner banner__default">
  <h1>Writing</h1>
</div>

<div class="component--standard-narrow component--writing-landing-links">
  <a href="/writing/long-form">
    <p class="h2">Long Form</p>
    <p>Text I've put a little thought into</p>
  </a>

  <a href="/writing/short-form">
    <p class="h2">Short Form</p>
    <p>Text I've put a little less thought into</p>
  </a>
  <img src="/img/sketches/mindless.png" alt="">
  <img src="/img/sketches/mindless-2.png" alt="">
</div>