---
title: Flow Field Example
date: 2022-12-31
ogDescription: ""
tags:
- generative 
- study
libraries:
- p5.min.js
- tweakpane.min.js
- p5-custom-library.js
published: false
intro: "This is basically a copy of <a href='https://www.schmidtynotes.com/blog/p5/2022-03-05-random-vectors/'>this artist's work on flow fields</a> which is why it's only a study. However, it does use a very nice and simple exmaple of flow fields."
---