---
title: "Posts"
meta_description: Some things that I've written. I don't write often.
---

<section class="component component--standard-wide">
  <h1>Posts</h1>
	<ul class="blog-list">
		{% for post in collections.blog|reverse %}
			<li>
				<h2 class="h4"><a href="{{ post.url }}">{{post.data.title}}</a></h2>
				<p><small>{{ post.data.summary }}</small></p>
			</li>
		{% endfor %}
	</ul>
</section>