// default spacing between components
*+[class*=component] {
  margin-top: var(--component-margin-top-default);
}

// first component after banner has smaller margin
[class*="banner"] + [class*=component],
[class*="banner"] + .hidden + [class*=component] {
  margin-top: var(--component-margin-top-first)
}

[class*=component]:first-child {
  padding-top: var(--padding-200);
}