/* Footer Nav
 * ----------------------------------------------- */
.footer__nav {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

/* Socials
 * ----------------------------------------------- */
.footer__socials {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-100) var(--padding-200);
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin: 0;
  }

  a {
    display: block;
  }

  .icon {
    width: 3rem;
    height: 3rem;
  }
}

/* Copyright
 * ----------------------------------------------- */
.footer__copyright {
  margin: 0;
}

/* Footer General Styles
 * ----------------------------------------------- */
.site__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--padding-200) var(--padding-300);
  padding: var(--padding-200) var(--page-margin-100);
  border-top: 0.1rem solid #000;
  margin-top: var(--component-margin-top-default);
}