html {
	height: 100%;
	font-family: sans-serif;
}

body {
	background-color: var(--surface-primary);
}

picture {
	overflow: hidden;

	img {
		width: inherit;
		height: inherit;
	}
}

/* Wrappers
 * ----------------------------------------------- */
.flex-wrapper {
	container-name: flex-wrapper;
	container-type: inline-size;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	gap: var(--padding-400);

	> * {
		flex: 1 1 100%;
		margin: 0;
	}
}

@container flex-wrapper (min-width: 500px) {
	.flex-wrapper > * {
		flex: 0 1 calc(50% - 1.6rem);
		margin: 0;
	}
}

@container flex-wrapper (min-width: 768px) {
	.flex-wrapper > * {
		flex: 0 1 calc(33.333% - 2.2rem);
		margin: 0;
	}
}

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	gap: var(--padding-200);
	padding: 0;
	margin: 0;
	list-style: none;
	
	> * {
		margin: 0;
	}

	&.gap--large {
		gap: var(--padding-400);
	}

	&.tile--large {
		grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
	}
	
	@media screen and (min-width: 551px) {
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
		gap: var(--padding-400);

		&.grid--small {
			grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
		}
	
		&.grid--large {
			grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
		}
	
		&.grid--extra-large {
			grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
		}
	}
}

*+.flex-wrapper,
*+.grid-wrapper {
	margin-top: var(--vertical-type-spacing-med);
}
