.site__navigation {
  display: none;
  padding: var(--padding-200) var(--padding-200);
  border-bottom: 0.1rem dashed black;

  &.active {
    display: block;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    gap: var(--padding-100) var(--padding-300);
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    font-size: var(--heading-4);
    text-decoration: none;
  }
}