.site__navigation {
  display: none;
  border-bottom: 0.1rem dashed black;

  &.active {
    display: block;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    display: block;
    font-size: var(--heading-5);
    padding: var(--padding-100) var(--padding-200);
    text-decoration: none;
    border-left: 0.1rem dashed #000;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  li{
    margin: 0;
  }

  li:last-child a {
    padding-right: var(--padding-200);
  }

  @media screen and (max-width: 784px) {
    ul {
      flex-direction: column;;
    }

    a {
      border-top: 0.1rem dashed #000;
      border-left: none;
    }
  }

  @media screen and (min-width: 785px) {
    li {
      flex-grow: 1;
    text-align: center;
    }
  }
}