.site__navigation {
  display: none;
  border-bottom: 0.1rem dashed black;

  &.active {
    display: block;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    display: block;
    font-size: var(--heading-5);
    padding: var(--padding-100) var(--padding-200);
    text-decoration: none;
    border-left: 0.1rem dashed #000;
  }

  li{
    margin: 0;
  }

  li:last-child a {
    padding-right: var(--padding-200);
  }
}