---
title: Quadrants
date: 2022-12-17
ogDescription: "Creative coding piece depicting blocks being broken into smaller quadrants"
tags:
- generative 
libraries:
- p5.min.js
- tweakpane.min.js
- p5-custom-library.js
published: true
intro: Click the canvas to generate a new image. Play with the controls beneath the canvas to alter aspects of the image.
---