---
title: Particles
date: 2023-03-25
ogDescription: "Simple particle physics based off of a course by Bruno Imbrizi"
published: true
tags:
- generative 
libraries:
- p5.min.js
- tweakpane.min.js
- p5-custom-library.js
intro: Simple particle physics based of a course by Bruni Imbrizi. Click the canvas to interact
---