---
layout: default
siteTitle: "Tristan Hampton"
title: "Kuzco Counter"
meta_description: 'Counting how many kilometers my dog has walked since March 2025'
backLink: '/creative'
---

<section class="banner banner--default">
  <h1>Kuzco Counter</h1>
</section>

<section class="component component--standard-wide">
  <p>I used to bike a lot, and would track my rides using Strava. If you've visited my <a href="/me/">/me page</a>, you might see that I haven't had a recent ride in a while.</p>
  <p>But I am still moving! Although it seemed silly to track my brief walks. So why not track Kuzco instead?</p>
  <p>As of now he's walked <strong>{{ kuzcoTracker.totalDistance }}</strong> since March 2025.</p>
  <picture>
    <img src="/img/me-and-kuz.jpg" alt="Me and Kuzco at the dog park">
  </picture>
</section>